/* reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    width: 1906px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
#navbar{
    display: flex;
    justify-content: space-between;
    border: 1px black dashed;
    background-color: #d5a82b;
    max-width: 1192px;
}


header{
    background-color: #b1d7e5;
    padding: 14px 325px;
    }

.link-top{
    border-left: 2px black dashed;
    border-right: 2px black dashed;
    text-align: center;
    flex-grow: 2;
    min-width: 596px;
}

#login{
    text-align: right;
}

#navbar .logo,#login{
    flex-grow: 1;
    padding: 2px;
    width: 298px;
}

a{
    color: black;
    text-decoration: none;
    margin: 10px 5px;
}
/* fine header */

/* main */

/* inizio container top */
.container-top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c008a;
    min-height: 496px;
}

.rec-rose{
    background-color: #ed7fed;
    width: 905px;
    height: 398px;
    border: 2px black dashed;
}
/* fine container top */


/* inizio section */
.text-left{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 596px;
}

.text-right{
    display: flex;
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;
    min-height: 596px;
}

.square-rose{
    background-color: #fcc0cb;
    width: 476px;
    height: 496px;
    border: 2px black dashed;
}

.rec-blue{
    background-color: #468afd;
    width: 715px;
    height: 496px;
    border: 2px black dashed;
}
/* fine section */

/* inizio green section */
.green-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    min-height: 992px;
}

.rec-green{
    background-color: #258c26;
    width: 1191px;
    height: 893px;
    border: 2px black dashed;
}
/* fine green section */

/* inizio foot section */
.foot-sec{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
    min-height: 625px; 
    width: 1906px;
    padding-left: 325px;
    padding-right: 325px;
}

.red-rec{
    background-color: #ec8281;
    width: 357px;
    height: 577px;
    border: 2px black dashed;
}

.a-column{
    background-color: #36b2aa;
    width: 208px;
    height: 577px;
    border: 2px white dashed;
}
/* fine foot section */
/* fine main */

/* inizio footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #23272a;
}

#foot{
   display: flex;
   justify-content: space-between;
   background-color: #87ffd4;
   min-width: 1193px;
   padding-top: 15px;
   padding-bottom: 15px;
}
#foot>div{
    background-color: #fcb7c1;
    border: 2px black dashed;
    padding: 5px;
}
/* fine footer */